<!DOCTYPE html>
<html>
<head>
  <title>Urls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<% if current_user.present? %>
  <p>Logged in as: <%= current_user.user %></p>
<%end%>


<%= yield %>

</body>
</html>
