<p>Currently listening to: <%= @station.user.handle %>'s tunes</p>

<%= form_tag(change_station_path, method: "post") do %>
  <%= label_tag(:q, "Listen in:") %>
      <%= select(:handle, nil, @stations) %>
  <%= submit_tag("Change") %>
<% end %>





<h1>Hey <%= @user.handle %>, let's listen to some tunes</h1>

<p><%= link_to "upload", upload_index_path %></p>


<table>
  <% @songs.each do |song|%>
  <tr>
    <td><%= song.album_artist %></td>
    <td><%= song.album %></td>
    <td><%= song.artist %></td>
    <td><%= link_to song.name, song.data_url, :class => "play"%></td>
    <td><%= link_to song.name, song_path(song) %></td>
  </tr>
  <%end%>
</table>


